@import "../../../sass-base/main.scss";

.editItemPage {
    width: 100rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: $color-white;
    z-index: 1001;
    border-radius: 1.4rem;
    border: .14rem solid $color-primary-dark;
    overflow: hidden;
    padding:0;
    margin:0;

    @include respond(small) {
        width: 100vw;
        height: 100vh;
    }

    animation-name: increasesize;
    animation-duration: 1s;
    animation-timing-function: ease-out;


    &-h, &-btn {
        width: 100%;
        text-align: center;
    }

    &-h {
        margin-top: 2rem;
    }

    &-btn {
        margin-bottom: 2rem;
    }
}

@keyframes increasesize{
    0%{
        opacity: 0;
        transform: translate(-50%,-50%) scale(.5, .5);
    }

    100% {
        opacity: 1;
        transform: translate(-50%,-50%) scale(1, 1);
    }
}