@import '../../sass-base/main.scss';

.footer {
    background-color: $color-grey-dark-v2;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: $color-white;
    text-align: center;

    @include respond(small) {
        padding: 8rem 0;
    }

    &-nav{
        border-top: .1rem solid $color-white;
        padding: 2rem;
        display: inline-block;

        @include respond(small) {
            width: 100%;
            text-align: center;
        }

        &-list {
            list-style: none;

            &-item {
                display: inline-block;

                &:not(:last-child) {
                    margin-right: 1.5rem;
                }

            }
        }
    }
    
    &-copyright {
        border-top: .1rem solid $color-white;
        padding-top: 2rem;
        width: 80%;
        text-align: left;

        @include respond(small) {
            width: 100%;
            float: none;
        }
    }
}