@import '../../sass-base/main.scss';

.card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: $card-height;
    width: $card-width;
    position: relative;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    

    &-side {
        color:  $color-white;
        font-size: 2rem;
        height: $card-height;
        width: $card-width;
        transition: all .8s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &-front {
            background-color: $color-white;

            &-img {
                margin-top: 1rem;
                height: 14rem;
                width: 14rem;
            }

            &-content {
                text-align: center;
                border-top: .1rem solid rgba($color-grey-dark , 0.5);
                border-bottom: .1rem solid rgba($color-grey-dark , 0.5);
                width: 80%;
                height: 43%;
                overflow: hidden;
                margin: 3rem auto 0 auto;

                &-h {
                    text-transform: uppercase;
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: $color-primary-dark;
                    margin-top: 1rem;
                }

                &-t {
                    font-size: 1.2rem;
                    color: $color-grey
                }
            }

            &-price {
                text-align: right;
                width: 80%;
                margin: 0 auto;
                color: $color-grey-dark;

            }
        }

        &-back {
            transform: rotateY(180deg);
            background-image: linear-gradient(to right bottom , $color-primary-light, $color-primary-dark);

            &-price {
                margin-top: 20%;
                color: $color-white;
                margin-bottom: 35%;

                &-only {
                    font-size: 1.4rem;
                    text-transform: uppercase;
                }

                &-value {
                    font-size: 4.5rem;
                    font-weight: 100;
                }
            }
        }
    }

    &:hover &-side-front{
        transform: rotateY(180deg);
    }

    &:hover &-side-back{
        transform: rotateY(360deg);
    }
}

