@import "../../sass-base/main.scss";

.loader {
    border-radius: 100%;
    border-top: .7rem solid $color-primary;
    border-right: .7rem solid rgba($color-white, 0);
    border-bottom: .7rem solid $color-primary;
    border-left: .7rem solid rgba($color-white, 0);
    width: 20rem;
    height: 20rem;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;

    animation: spinner 7s infinite;
    
}

@keyframes spinner{
    0%{
        transform: rotate(0deg)
    }

    50%{
        transform: rotate(1800deg);
    }

    100% {
        transform: rotate(360deg);
    }
}