@import "../../sass-base/main.scss";

.btn-page-nav-current,
.btn-page-nav {
    &,
    &:link,
    &:visited {     
        text-transform: uppercase;
        text-decoration: none;
        width: 5rem;
        height: 3rem;
        color: $color-primary;
        display: inline-block;
        border-radius: 2rem;
        color: $color-primary;
        font-size: 2rem;
        transition: all .2s;

        &:hover {
            background-color: $color-primary;
            color: $color-white;
            box-shadow: 0 1rem 2rem rgba($color-black, .15);
            transform: translateY(-2px);
        }

        &:active {
            box-shadow: 0 .4rem 2rem rgba($color-black, .15);
            transform: translateY(-1px);
        }

        &-btn {
            padding: 1.5rem;
            border: .4rem solid $color-primary;
        }
    }
}

.btn-page-nav-current{
    background-color: $color-primary;
    color: $color-white !important;
}