@import "../../sass-base/main.scss";

.btn-cancel {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 1.4rem;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.5;
    }

    &-x {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }

    &-blue {
        border: .29rem solid $color-primary;
        color: $color-primary;
    }

    &-white {
        border: .29rem solid $color-white;
        color: $color-white;
    }
}