@import "../../sass-base/main.scss";

.search-menu {
    cursor: pointer;
    border-radius: .8rem;
    overflow: hidden;

    &-item {
        border-top: 1px solid $color-primary-dark;
        overflow: hidden;

        &-btn {
            display: block;
            font-size: 1.6rem;
            padding: 1.6rem 2rem;
            background-color: $color-primary;
            color: $color-white;
            position: relative;
            z-index: 1;

            &::before {
                content: "";
                position: absolute;
                width: 1.4rem;
                height: 1.4rem;
                background-color: $color-primary;
                left: 2rem;
                bottom: -.7rem;
                transform: rotate(45deg);
            }
        }

        &-input {
            display: block;
            overflow: hidden;
            transition: max-height 1s;
            max-height: 0;
        }
    }

    &-search {
        background-color: $color-grey-light-v3;
        text-align: center;
        font-size: 1.6rem;
        padding: 1.6rem 2rem;
        border: 1px solid $color-grey;
        border-bottom-left-radius: .8rem;
        border-bottom-right-radius: .8rem;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.4;
        }
    }
}