@import "../../sass-base/main.scss";

.h-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
    letter-spacing: 2px;
    transition: all .2s;

    @include respond(small) {
        font-size: 2.7rem;
    }

    @include respond(very-small) {
        font-size: 2.2rem;
    }

    &:hover {
        transform: skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.white {
    background-image: none;
    color: $color-white;
}