$color-primary: rgb(0, 168, 255);
$color-primary-light-v2: rgb(152, 221, 255);
$color-primary-light: rgb(72, 194, 255);
$color-primary-dark: rgb(0, 151, 230);

$color-white: #fff;
$color-black: #000;
$color-grey-light: #f7f7f7;
$color-grey-light-v2: #ececec;
$color-grey-light-v3: #ecececce;
$color-grey:rgb(127, 143, 166);
$color-grey-dark:rgb(113, 128, 147);
$color-grey-dark-v2:rgb(68, 76, 87);

$color-yellow:#fed330;
$color-orange-yellow:#f7b731;

$grid-width: 114rem;
$grid-width-small: 50rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 5.5rem;
$gutter-horizontal: 6rem;

$card-width: 25rem;
$card-height: 40rem;
$card-space: 2rem;
